.GameboardOuter {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 600px;
}

.ImageOne {
    position: absolute;
    left: 2%;
    top: 30%;

}

.ImageTwo {
    position: absolute;
    right: 2%;
    top: 30%;
}


.Gameboard {
    position: absolute;
    left: 50%;
    top: 60%;
    display: grid;
    grid-template-columns: 150px 166px 150px;
    margin: -241px 0px 0px -241px;
}


.Button {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 15%;
    width: 5%;
    min-width: 75px;
    background-color: #EEE2DC;
    color:  #e6733a;
    font-size: 20px;
    border: 2px solid #e6733a;
    border-top-right-radius: 50px;
    text-align: right;
    padding: 10px 10px 0px 0px;
}

.Button:hover {
    font-size: 30px;
    color: #EEE2DC;
    background-color:  #e6733a;
    border: 2px solid #EEE2DC;
    left: 0%;
    text-align: center;
    width: 15%;
    padding: 0px 10px 0px 0px;
}


@media (max-width: 1000px) {

    
    
    .ImageOne {
        display: none;
    }
    
    .ImageTwo {
        display: none;
    }
    
    
    .Gameboard {
        grid-template-columns: 100px 116px 100px;
        margin: -241px 0px 0px -166px;
        left: 50%;
        
    }
    
    .Button {
        position: absolute;
        bottom: 0%;
        left: 0%;
        height: 15%;
        width: 15%;
        
        background-color: #EEE2DC;
        color:  #e6733a;
        font-size: 20px;
        border: 2px solid #e6733a;
        border-top-right-radius: 50px;
        padding: 0px 30px 0px 0px;
    }
    
    .Button:hover {
        font-size: 30px;
        color: #EEE2DC;
        background-color:  #e6733a;
        border: 2px solid #EEE2DC;
        left: 0%;
        min-width: 300px;
    }
}

@media (max-width: 450px) {
    .GameboardOuter {
        min-width: 300px;
    }

    .Gameboard {
        top: 65%;
    }
    
    .Button {
        position: absolute;
        height: 15%;
        width: 332px;
        background-color: #EEE2DC;
        color:  #e6733a;
        border: 2px solid #e6733a;
        border-radius: 12px;
        font-size: 30px;
        left: 50%;
        top: 93%;
        margin: -15% 0px 0px -166px;
        text-align: center;
        padding: 0px 10px 0px 0px;
    }
    .Button:hover {
        background-color: #e6733a;
        color:   #EEE2DC;
        border: 2px solid  #EEE2DC;
        left: 50%;
        padding: 0px 10px 0px 0px;
        width: 332px;
    }
}

@media (max-height: 450px) {
    

    .Gameboard {
        grid-template-columns: 75px 91px 75px;
        margin: -200px 0px 0px -120.5px;
        top: 80%;
        left: 50%;
    }
    
    .Button {
        left: 0%;
        text-align: center;
        padding: 0px 20px 0px 0px;
    }
    .Button:hover {
        background-color: #e6733a;
        color:   #EEE2DC;
        border: 2px solid  #EEE2DC;
        font-size: 15px;
        width: 10%;
    }

}