.GameboardOuter {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 600px;
}

.ImageOne {
    position: absolute;
    left: 2%;
    top: 30%;

}

.ImageTwo {
    position: absolute;
    right: 2%;
    top: 30%;
}


.Gameboard {
    position: absolute;
    left: 50%;
    top: 60%;
    display: grid;
    grid-template-columns: 150px 166px 150px;
    margin: -241px 0px 0px -241px;
}


.Button {
    position: absolute;
    bottom: 0%;
    left: -12%;
    height: 15%;
    width: 15%;
    background-color: #EEE2DC;
    color:  #e6733a;
    font-size: 5px;
    border: 2px solid #e6733a;
    border-top-right-radius: 50px;
}

.Button:hover {
    font-size: 30px;
    color: #EEE2DC;
    background-color:  #e6733a;
    border: 2px solid #EEE2DC;
    left: 0%;
}


@media (max-width: 1000px) {

    
    
    .ImageOne {
        display: none;
    }
    
    .ImageTwo {
        display: none;
    }
    
    
    .Gameboard {
        grid-template-columns: 100px 116px 100px;
        margin: -241px 0px 0px -166px;
        left: 50%;
        
    }
    
    .Button {
        position: absolute;
        bottom: 0%;
        left: -10%;
        height: 15%;
        width: 15%;
        
        background-color: #EEE2DC;
        color:  #e6733a;
        font-size: 5px;
        border: 2px solid #e6733a;
        border-top-right-radius: 50px;
    }
    
    .Button:hover {
        font-size: 30px;
        color: #EEE2DC;
        background-color:  #e6733a;
        border: 2px solid #EEE2DC;
        left: 0%;
        min-width: 300px;
    }
}

@media (max-width: 450px) {
    .GameboardOuter {
        min-width: 300px;
    }
    
    .Button {
        position: absolute;
        height: 15%;
        width: 332px;
        background-color: #EEE2DC;
        color:  #e6733a;
        font-size: 25px;
        border: 2px solid #e6733a;
        border-radius: 12px;
        left: 50%;
        top: 85%;
        margin: -15% 0px 0px -166px;
    }
    .Button:hover {
        background-color: #e6733a;
        color:   #EEE2DC;
        border: 2px solid  #EEE2DC;
        left: 50%;
    }
}