.Scoreboard {
    position: fixed;
    border: 1px solid#B1A296;
    text-align: center;
    width: 100%;
    left: 0%;
    min-height: 100px;
    height: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(32, 32, 32);
    background-color: #B1A296;
    top: 0%;
}

.SignOne {
    position: absolute;
    line-height: 100%;
    font-size: 40px; 
    display: inline-block; 
    font-weight: bold;
    left: 10%;
    color: black;
    margin-top: 1%;
}


.SignTwo {
    position: absolute;
    line-height: 100%;
    font-size: 40px;
    right: 10%;
    display: inline-block;
    font-weight: bold;
    color: black;
    margin-top: 1%;
}

.WhoseTurn {
    position: absolute;
    left: 20%;
    right: 25%;
    font-size: 30px;
    top: 25%;
}


@media (max-width: 1000px) {
    .Scoreboard {
        height: 10%;
        min-width: 600px;
    }
    
    .SignOne {
        position: absolute;
        line-height: 100%;
        font-size: 20px; 
        display: inline-block; 
        font-weight: bold;
        left: 2%;
        color: red;
        
    }
    
    .SignTwo {
        position: absolute;
        line-height: 100%;
        font-size: 20px;
        right: 2%;
        display: inline-block;
        font-weight: bold;
        color: blue;
    }
    
    .WhoseTurn {
        position: absolute;
        left: 0%;
        right: 25%;
        top: 10%;
        font-size: 30px;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .Scoreboard {
        min-width: 100px;
        background-color: rgb(221, 215, 215);
    }
    
    .SignOne {
        position: absolute;
        line-height: 100%;
        font-size: 20px; 
        display: inline-block; 
        font-weight: bold;
        left: 2%;
        color: red;
        width: 100px;
        word-wrap: break-word;
        word-break: break-all;
        
    }
    
    .SignTwo {
        position: absolute;
        line-height: 100%;
        font-size: 20px;
        right: 2%;
        display: inline-block;
        font-weight: bold;
        color: blue;
        width: 100px;
        word-wrap: break-word;
        word-break: break-all;
    }
    
    .WhoseTurn {
        position: absolute;
        left: 0%;
        right: 25%;
        top: 35%;
        font-size: 25px;
        width: 100%;
        word-wrap: break-word;
        word-break: break-all;
    }
}